.linkdin{
  background-color: #020028;
  width: 100%;
  height: 1800px;
}
.linkdin-card {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(237, 242, 241, 0.25);
}
.imglink {
  width: 650px;
  height: 550px;
  border-radius: 8px;
  object-fit: cover;
}
.titlep{
  font-weight: bold;
  font-size: 35px;
  background: linear-gradient(90deg, #e71daa, #4636ac,#3ad132);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.imglink:hover{
   transform: scale(0.9);
}
.ptitle{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    padding: 0;
    background: linear-gradient(30deg,#00ffff,#ff00ff,#ffff00,#00ff00,#ff9900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    animation: shine 4s ease infinite;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
                0 0 20px rgba(255, 255, 255, 0.5);
}
.mb-4{
    color: white;
}
.linkdin-text {
  color: white;
  font-size: 16px;
  line-height: 1.6;
}
.linkdin-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.linkbutton1{
    background-color: #181818;
    color: white;
}
.linkbutton1:hover{
  background: linear-gradient(30deg, rgba(255, 106, 0, 0.5) 0%, rgba(238, 9, 121, 0.5) 25%, rgba(106, 17, 203, 0.5) 50%, rgba(37, 117, 252, 0.5) 75%, rgba(67, 206, 162, 0.5) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    animation: gradient-flow 8s ease infinite;
}
.linkbutton2:hover{
  background: linear-gradient(30deg, rgba(255, 106, 0, 0.5) 0%, rgba(238, 9, 121, 0.5) 25%, rgba(106, 17, 203, 0.5) 50%, rgba(37, 117, 252, 0.5) 75%, rgba(67, 206, 162, 0.5) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    animation: gradient-flow 8s ease infinite;
}
.icons:hover{
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1); 
  cursor: pointer;
  border-radius: 20px;
}
@keyframes gradient-flow {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
@media (min-width: 768px) and (max-width:1080px){
  .linkdin-row {
    flex-direction: column;
    text-align: center;
  }
  .linkdin{
    height: 260vh;
  }

  .imglink {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
}
@media (min-width: 362px) and (max-width:654px){
  .linkdin-row {
    flex-direction: column;
    text-align: center;
  }
  .linkdin{
    height: 300vh;
  }

  .imglink {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
}
