.contact{
    margin-top: 40px;
    max-width: 100%;
}
.cardcontact{
    background-color: #17002f;
    color: white;
}
.ctitle{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    padding: 0;
    background: linear-gradient(30deg,#00ffff,#ff00ff,#ffff00,#00ff00,#ff9900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    animation: shine 4s ease infinite;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
                0 0 20px rgba(255, 255, 255, 0.5);
}
.contitle{
  font-weight: bold;
  font-size: 30px;
  background: linear-gradient(90deg, #e71daa, #5b4fac);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.groupcont {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #020028;
    flex-wrap: wrap;
    padding: 20px;
    color: white;
}
.contp{
    color: white;
    margin-top: 10px;
    text-align: center;
    margin: 30px auto;
}
.iconcont{
    box-shadow: 0px  4px 0px 1px rgb(89, 85, 85);
    border-radius: 20px;
    
}
.iconcont:hover{
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1); 
  cursor: pointer;
  border-radius: 20px;
}
.card1{
    background-color: #17002f;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 10px 10px rgba(212, 245, 252, 0.2);
    transition: transform 0.2s;
}
.card2{
    background-color: transparent;
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    box-shadow: 10px 10px 10px 8px rgba(247, 244, 244, 0.2);
    transition: transform 0.2s;
}
.contbtn{
    background-color: #181818;
    color: white;
}
.contbtn:hover{
  background: linear-gradient(30deg, rgba(255, 106, 0, 0.5) 0%, rgba(238, 9, 121, 0.5) 25%, rgba(106, 17, 203, 0.5) 50%, rgba(37, 117, 252, 0.5) 75%, rgba(67, 206, 162, 0.5) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    animation: gradient-flow 8s ease infinite;
}